EHS2019/EHS/EHSVaccinationTester/Web References/GetEHSVaccine/GetEHSVaccine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="geteHSVaccineRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlRequest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geteHSVaccineRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="geteHSVaccineRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceAuthHeader" type="tns:ServiceAuthHeader" />
      <s:complexType name="ServiceAuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="geteHSVaccineRecordSoapIn">
    <wsdl:part name="parameters" element="tns:geteHSVaccineRecord" />
  </wsdl:message>
  <wsdl:message name="geteHSVaccineRecordSoapOut">
    <wsdl:part name="parameters" element="tns:geteHSVaccineRecordResponse" />
  </wsdl:message>
  <wsdl:message name="geteHSVaccineRecordServiceAuthHeader">
    <wsdl:part name="ServiceAuthHeader" element="tns:ServiceAuthHeader" />
  </wsdl:message>
  <wsdl:portType name="GetEHSVaccineSoap">
    <wsdl:operation name="geteHSVaccineRecord">
      <wsdl:input message="tns:geteHSVaccineRecordSoapIn" />
      <wsdl:output message="tns:geteHSVaccineRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetEHSVaccineSoap" type="tns:GetEHSVaccineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geteHSVaccineRecord">
      <soap:operation soapAction="http://tempuri.org/geteHSVaccineRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:geteHSVaccineRecordServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetEHSVaccineSoap12" type="tns:GetEHSVaccineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geteHSVaccineRecord">
      <soap12:operation soapAction="http://tempuri.org/geteHSVaccineRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:geteHSVaccineRecordServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetEHSVaccine">
    <wsdl:port name="GetEHSVaccineSoap" binding="tns:GetEHSVaccineSoap">
      <soap:address location="http://localhost/EHSVaccination/GetEHSVaccine.asmx" />
    </wsdl:port>
    <wsdl:port name="GetEHSVaccineSoap12" binding="tns:GetEHSVaccineSoap12">
      <soap12:address location="http://localhost/EHSVaccination/GetEHSVaccine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>