EHS2019/EHS2019/eHRIntegration/WSDL/ExampleWebS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="https://apps.hcv.gov.hk/eHRIntegration/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="https://apps.hcv.gov.hk/eHRIntegration/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="getExternalWebS" type="tns:getExternalWebS"/>

<xs:element name="getExternalWebSResponse" type="tns:getExternalWebSResponse"/>

<xs:complexType name="getExternalWebS">
<xs:sequence>
<xs:element name="inputParam" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExternalWebSResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
